<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Time</title>
    <!-- load from embedded resource in satellite assembly -->
    <script src="/Content.Libraries.moment.moment.min.js"></script>
</head>
<body>
    <div id="timeDiv">
        <!-- scripted time output to browser both to screen and appending div-->
        <script>document.write(moment().format());</script>
        <script>var newdiv = document.createElement('div');var date = "["+moment().format()+"]"; document.getElementById("timeDiv").appendChild(newdiv); newdiv.innerHTML = date;</script>
    </div>

</body>
</html>